section {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}


nav {
  height: 40px;
  background-color: silver;
}

nav a {
    color: black;
}

.home-btn {
  margin-left: 50px; }

.login-btn {
  float: right;
  margin-right: 30px; }

