{% extends "layout.html" %}

{% block heading %}
    <div class="jumbotron">Project 1 Homepage</div>
{% endblock %}

{% block body %}
    <!-- form to either login, or register -->
    <form action="{{ url_for('login') }}" method="post">
        <div class="row">
            <h2 class="headline2">Existing users, please login here:</h2><br/>
            <div><input type="text" name="username" placeholder="Enter a username"></div>
            <div><input type="text" name="password" placeholder="Enter a password"></div>
            <h2 class="headline2">New users, please create your account here:</h2></br>
            <div><input type="text" name="newusername" placeholder="Enter a username"></div>
            <div><input type="text" name="newpassword" placeholder="Enter a password"></div>
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>
{% endblock %}
