{% extends "base_generic.html" %}

{% block content %}
        {% if user.is_authenticated %}
        <div id='authenticated'>yes</div>
        <div class="container">
          <row>
              <!-- area to fly the 1979 asteroid classic ship -->
              <div>Fly a 1980's style asteroid ship with
              the awsd keys (yes the triangle was a ship and it was a
              smash hit on the atari 2600! To avoid copyright laws the ship is not a triangle but a square &#x1f609;
              Use the awsd keys to move the blue square to avoid the purple squares, a single collision is fatal, see
              how long you can last in the JavaScript ring.  Next time avoid asteroid fields, even purple asteroids
              can be fatal!
              <h2>Seconds in the ring:  <div id="score-text">Your Score:  <span id='game-clock'></span></div></h2>
          </row>
        </div> <!-- closes the container div -->
        {% endif %}

{% endblock %}
