{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}?q=43">
{% endblock %}


{% block body %}
    {% if logout %}
        <nav>
            <a href="{{ url_for('index') }}"><button class="btn btn-light home-btn">Home</button></a>
            <a href="{{ url_for('register') }}"><button class="btn btn-light register-btn">Register</button></a>
            <a href="{{ url_for('login') }}"><button class="btn btn-light login-btn">Login</button></a>
            <a href="{{ url_for('search') }}"><button class="btn btn-light search-btn">Search</button></a>
        </nav>
    {% else %}
        <nav>
            <a href="{{ url_for('index') }}"><button class="btn btn-light home-btn">Home</button></a>
            <a href="{{ url_for('logout', to_page='book') }}"><button class="btn btn-light logout-btn">Logout</button></a>
            <a href="{{ url_for('search') }}"><button class="btn btn-light search-btn">Search</button></a>
            <a class="username" href="{{ url_for('index') }}">{{username}}</a>
        </nav>
    {% endif %}
    <div class="container">
        {% if logout %}
            <h5 class="text-center" style="margin-top: 20px">Here you can look at books, see reviews and add reviews ...</h5>
            <h1 class="text-center text-danger">Please login to see all details!</h1>
        {% else %}
            <h1 class="text-center">{{book.title}}</h1>
            <br>
            <h2>Details:</h2>
            {% if no_book %}
                <li>No details about this book!</li>
            {% else %}
                <ul>
                    <li>Title: {{book.title}}</li>
                    <li>Author: {{book.author}}</li>
                    <li>Year: {{book.year}}</li>
                    <li>Isbn: {{book.isbn}}</li>
                </ul>
            {% endif %}
            <hr>
            <h4>Goodreads Review:</h4>
            <ul>
                <li>Ratings: {{rating_num}}</li>
                <li>Avg_rate: {{api_avg_rate}} of 5</li>
            </ul>
            <hr>
            <div class="beside">
                <div>
                    <form action="{{url_for('book', book_id=book.id)}}" method="post">
                        <h1>Add a review:</h1>
                        <h5 class="text-danger">{{err_mess}}</h5>
                        <textarea rows="4" cols="50" name="review_text" placeholder="Say something about this book!" required></textarea>
                        <br>
                        Average rate: <select name="avg_rate">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select> of 5
                        <br>
                        <button style="margin-top: 10px" class="btn btn-primary">Submit review</button>
                    </form>
                </div>
                <div class="to-right">
                    <h2>Users reviews:</h2>
                    <ul>
                        {% for review in reviews %}
                            <hr>
                            <li>Name: {{review.username}}</li>
                            <li>Review: {{review.review_text}}</li>
                            <li>Avg_rate: {{review.avg_rate}} of 5</li>
                            <hr>
                        {% else %}
                            <h6 class="text-info">No reviews submitted for this book try add a review!</h6>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

