{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}?q=0">
{% endblock %}

{% block body %}
    <nav>
        <a href="{{ url_for('index') }}"><button class="btn btn-light home-btn">Home</button></a>
        <a href="{{ url_for('login') }}"><button class="btn btn-light login-btn">Login</button></a>
    </nav>

    <div class="container">
        <section>
            <br>
            <h4 class="text-center text-danger">{{mess}}</h4>
            <br>
            <form action="{{ url_for('register') }}" method="post">
                <input class="form-control" type="text" placeholder="Username" name="username" required>
                <br>
                <input class="form-control" type="email" placeholder="Email" name="email" required>
                <br>
                <input class="form-control" type="password" placeholder="Password" name="password" required>
                <br>
                <button class="btn btn-primary">Submit</button>
            </form>
        </section>
    </div>
{% endblock %}

