{% extends "gotrees/base.html" %}

{% load static %}

{% block title %}My Forest{% endblock %}

{% block body %}
  <div class="container-fluid" style="margin: 0; padding: 0; width: 100%">
    <div class="row" style="background-color: #e8e8e8;">
      <div class="col-sm-5 profile-container">
          <img class="img-fluid photo-frame" src="{% static 'gotrees/img/profil-2base.png' %}" id="frame" alt="Forest creator profile photo">
          {% if image %}<img class="user-photo img-fluid" src="../../static/gotrees/uploads/{{ image }}" id="user-photo">{% endif %}
          <img class="photo-default img-fluid" src="{% static 'gotrees/img/profil-on-2base.png' %}" id="bottom" alt="Not user photo yet">
      </div>
      <div class="col-sm-7" style=" padding: 5rem;" id="text-profile">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-12">
              <h3>{% if first_name %}{{ first_name }}'s'{% endif %} Forest Architecte</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="personal" style="text-align: center;">{% if my_phrase %}{{ my_phrase }}{% else %}What about an inspiring idea?{% endif %}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6 ">
              <p>Actuation Area:</p>
            </div>
            <div class="col-6 ">
              <p>Trees Already Planted:</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 ">
              <p class="personal">{% if country %}{{ country }}{% else %}Your Country{% endif %}</p>
            </div>
            <div class="col-6 ">
              <p class="personal">{% if trees %}{{ trees }}{% endif %}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 ">
              <p class="personal">{% if region %}{{ region }}{% else %}Your Region{% endif %}</p>
            </div>
            <div class="col-6 ">
              <p>Points:</p>
              <p class="personal">{% if points %}{{ points }}{% endif %}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <p>Why do I do this?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="personal">
                {% if my_text %}{{ my_text }}{% else %}Here is the place to share your deep thoughts with People! :){% endif %}
              </p>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{% if first_name %}{{ first_name }}'s{% endif %} Badges</p>
          </div>
        </div>
        <div class="row">
          {% if heart %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="You've planted your First Tree!! This World has a new Heart taking care of It" class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) 0 0;"></div>
            </div>
          {% else %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="Start planting Trees and get Gifts and new Badges!" class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) -95px -95px;"></div>
            </div>
          {% endif %}
          {% if diamont %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="You're a diamont! 30 baby trees live thanks to You." class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) 0 -95px;"></div>
            </div>
          {% endif %}
          {% if flag %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="People can start calling you a Lider. 60 trees already planted!!" class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) -190px -95px;"></div>
            </div>
          {% endif %}
          {% if basic_cup %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="Congratulation, Only those who persevere can get a Cup! 100 trees planted!"class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) -95px -190px;"></div>
            </div>
          {% endif %}
          {% if golden_cup %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="You're Awesome. We couldn't but give you this Golden Cup. 150 trees!" class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) 0 -190px;"></div>
            </div>
          {% endif %}
          {% if star %}
            <div class="col-2">
              <div data-toggle="tooltip" data-placement="top" title="The Start is the best way of saying that you make a Great GREAT! Job &#x1F917; . 200 trees planted!" class="done" style="background: url({% static 'gotrees/img/badges2.png' %}) -190px -190px;"></div>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
            {% if user.is_authenticated and user.username == user_username %}<a href="{% url 'edit_profile' user.username %}" alt="Edit my Profile"><button class="btn btn-secondary" type="button">Edit my Profile</button></a>{% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-9"></div>
          <div class="col-3">
            <br>
            {% if user.is_authenticated and user.username == user_username %}<a href="{% url 'myoffers' %}" alt="See all my Offers"><button class="btn btn-primary" type="button">See all my Offers</button></a>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
  {% if user.is_authenticated and user.username == user_username %}
    <h3>Have already some little trees to plant?</h3>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <h5>Wait a momment, Did you get your TreeCodes?</h5>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center">Before you go and plant them. You need to get your TreeCodes. Every code is different and can be used only once.<br>
            You have to include them in the photos of your trees planted in order to lets us verify that you're making good.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <a href="{% url 'treecodes'  %}" alt="Get your TreeCodes"><button type="button" class="btn btn-info btn-lg btn-block">Get Your TreeCodes</button></a>
        </div>
      </div>
      <br>
      <br>
      <h5>Yes! I Got Them</h5>
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <p class="text-center">Perfect, now your ready! Go to some good spot for them. After finishing with planting click here to add that tree to your list</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6">
        <a href="{% url 'new_tree' user.username %}" alt="Plant a new Tree"><button type="button" class="btn btn-success btn-lg btn-block">Plant a New Tree</button></a>
        </div>
      </div>
    </div>
  {% endif %}
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        {% csrf_token %}
        <div id="canvas_map" style="height: 40rem;" data-user="{{ user_username }}"></div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-10">
        {% if user.is_authenticated and user.username == user_username %}
          <h5>This is your personal tree's map!</h5>
          <p class="text-center">Here you can see every tree yous have planted using our webapp. Different icons show different kind of threes.</p>
          <p class="text-center">If for some reason, you couldn't keep counting one of then, remember to delete it from the map, for this just <br>
            click on the tree, and use the button 'Remove Tree'</p>
          <br>
          <br>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  {% if offers %}
    <div id="gifts_offers_discounts" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for offer in offers %}
          {% if forloop.counter0 == 0 %}
            <div class="carousel-item active">
              <a href="{% url 'offer' offer.id %}" alt="{{ offer.name }}" ><img class="d-block w-100" src="../../static/gotrees/offers/{{ offer.image }}"></a>
            </div>
          {% else %}
            <div class="carousel-item">
              <a href="{% url 'offer' offer.id %}" alt="{{ offer.name }}" ><img class="d-block w-100" src="../../static/gotrees/offers/{{ offer.image }}"></a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#gifts_offers_discounts" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#gifts_offers_discounts" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br>
    <br>
  {% endif %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Enable the use of bootstrap tooltip on the profile bagges
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      let base = document.querySelector('#frame');
      let photo = document.querySelector('#user-photo');
      let bottom = document.querySelector('#bottom');

      // Adjust the profile photo to fit at the correct position in the frame
      function resize() {
        let resize = base.height / 3.30;
        let height = base.height / 2;
        let width = base.width / 1.35;
        let left = base.height / 9;
        photo.style.top = resize + 'px';
        photo.style.height = height + 'px';
        photo.style.width = width + 'px';
        photo.style.left = left + 'px';
        bottom.style.height = base.height + 'px';
        bottom.style.width = base.width + 'px';
      }

      document.addEventListener('DOMContentLoaded', event => {
        resize();
        event.target.removeEventListener(event.type);
      });

      resize();
      window.onresize = () => {
        resize();
      }
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
    let map;
    let markers = [];
    let info = new google.maps.InfoWindow();
    let csrf = document.querySelector('#canvas_map').previousSibling.previousSibling.value;
    let canvas = document.querySelector('#canvas_map');

    function initMap() {

      let styles = [
      ];

      let options = {
          center: {lat: 40.4167, lng: -3.7032}, // Madrid Spain
          disableDefaultUI: true,
          mapTypeId: 'satellite',
          maxZoom: 20,
          panControl: true,
          styles: styles,
          zoom: 13,
          zoomControl: true
      };



      map = new google.maps.Map(canvas, options);
      let geo_info = new google.maps.InfoWindow({map: map});

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          map.setCenter(pos);

        }, function() {
          handleLocationError(true, geo_info, map.getCenter());
        });
      } else {
        handleLocationError(false, geo_info, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
    }

    function setMapNull() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = []
    }

    function addOldMarker(data) {
      let list = [{a: 0, b: 0}, {a: 65, b: 65}, {a: 65, b: 0}, {a: 0, b: 65}]
      let n = parseInt(data.kind);
      var image = {
        url: '../../static/gotrees/img/trees2.png',
        size: new google.maps.Size(65, 70),
        origin: new google.maps.Point(list[n]["a"], list[n]["b"]),
        anchor: new google.maps.Point(32, 70)
       };

      var marker = new google.maps.Marker({
        position: {lat: parseFloat(data.lat), lng: parseFloat(data.lng)},
        map: map,
        icon: image
      });

      let content = `<h5>${data.name}</h5>
                     <p><strong>Specie</strong>: ${data.species}</p>
                     <p><strong>Dedication:</strong></p>
                      <p>${data.dedication}</p>
                     {% if user.is_authenticated and user.username == user_username %}<button data-id="${data.id}" type="button" class="btn btn-outline-warning btn-sm remove_tree">Remove Tree</button>{% endif %}`;
      marker.addListener('click', () => {
        info.setContent(content);
        info.open(map, marker);
      });
      markers.push(marker);
    }

    initMap();
    let dataToSend = {"user_username": canvas.dataset.user};

    AJAXRequest("/add_old_markers", csrf, dataToSend).then(function(data) {
      for (let j = 0; j < data.length; j++) {
        addOldMarker(data[j]);
      }
    });
    });
    document.addEventListener('click', event => {
      let csrf = document.querySelector('#canvas_map').previousSibling.previousSibling.value;

      if (event.target.className.includes('remove_tree')){
          AJAXRequest("/delete_marker", csrf, {"id": event.target.dataset.id});
          location.reload();
      }

    });
  </script>
{% endblock %}
