{% extends "layout.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block main %}
  <h3 class="display-4">{{ book.title }}</h3>
  <p>Author: {{ book.name }}, Edition: {{ book.year }}, Isbn: {{ book.isbn }}</p>
  <br>
  {% if comments %}
  <h3>Comments</h3>
    <div class="comments">
      {% for comment in comments %}
        <div class="comment container bg-light col-7">
          <p>{{ comment.comment }}<p>
          <p>Comment by {{ comment.username }} on {{ comment.date }}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <br>
  <br>
  <h3>What do you think about this book?</h3>
  {% if average %}

    <p>The average rating is {{ average["average_rating"] }} over {{ average["work_ratings_count"] }} ratings.</p>
  {% endif %}
  <form action"/book/{{ book.isbn }}" method="POST">
    <div class="form-group align-self-center">
      <div class="row justify-content-center">
        <textarea id="book-reviews" class="form-control col-6" rows="3" name="comment" placeholder="Enter your review here"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="book-rating">Your Rating</lable>
      <select class="form-control" name="rating" id="book-rating">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Comment</button>
  </form>
  {% if notice %}
    <h3>{{ notice }}</h3>
  {% endif %}
{% endblock %}
